{% extends "home.html" %}
{% load static %}

{% block data_table %}

<div class="container">

    <table class="table table-bordered table-striped">
        <thead>
          <tr>
              <th scope="col">Order</th>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Unit-Price</th>
          </tr>
        </thead>
        <tbody>
          {% for item in ordered_items %}
            <tr>
                <td>{{ item.order.customer.first_name }}</td>
                <td>{{ item.product.title }}</td>
                <td>{{ item.product.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.unit_price }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
  
{% endblock data_table %}